/* Domaine Sans Web */
@font-face {
  font-family: "Domaine Sans Text";
  src: url("../fonts/domaine-sans-text/DomaineSansTextWeb-Light.woff2") format("woff2"), url("../fonts/domaine-sans-text/DomaineSansTextWeb-Light.woff2") format("woff2"), url("../fonts/domaine-sans-text/DomaineSansTextWeb-Light.eot") format("eot");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Domaine Sans Text";
  src: url("/assets/fonts/domaine-sans-text/DomaineSansTextWeb-LightItalic.woff2") format("woff2"), url("/assets/fonts/domaine-sans-text/DomaineSansTextWeb-LightItalic.woff") format("woff"), url("/assets/fonts/domaine-sans-text/DomaineSansTextWeb-LightItalic.eot") format("eot");
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: "Domaine Sans Text";
  src: url("/assets/fonts/domaine-sans-text/DomaineSansTextWeb-Medium.woff2") format("woff2"), url("/assets/fonts/domaine-sans-text/DomaineSansTextWeb-Medium.woff") format("woff"), url("/assets/fonts/domaine-sans-text/DomaineSansTextWeb-Medium.eot") format("eot");
  font-style: normal;
  font-weight: 500; }

/* Input Sans Narrow */
@font-face {
  font-family: "Input Sans Narrow";
  src: url("/assets/fonts/input-sans-narrow/InputSansNarrow-ExtraLight.woff2") format("woff2"), url("/assets/fonts/input-sans-narrow/InputSansNarrow-ExtraLight.woff") format("woff"), url("/assets/fonts/input-sans-narrow/InputSansNarrow-ExtraLight.eot") format("eot");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: "Input Sans Narrow";
  src: url("/assets/fonts/input-sans-narrow/InputSansNarrow-Light.woff2") format("woff2"), url("/assets/fonts/input-sans-narrow/InputSansNarrow-Light.woff") format("woff"), url("/assets/fonts/input-sans-narrow/InputSansNarrow-Light.eot") format("eot");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Input Sans Narrow";
  src: url("/assets/fonts/input-sans-narrow/InputSansNarrow-Medium.woff2") format("woff2"), url("/assets/fonts/input-sans-narrow/InputSansNarrow-Medium.woff") format("woff"), url("/assets/fonts/input-sans-narrow/InputSansNarrow-Medium.eot") format("eot");
  font-style: normal;
  font-weight: 500; }
