<ul>
  <li><a href="/bilder">Bilder</a></li>
  {# <li><a href="/karten">Karten</a></li> #}
  {# <li><a href="/workshops">Workshops</a></li> #}
  <li><a href="/special/print">Print</a></li>
  <li><a href="/about">About</a></li>
</ul>
