{# Bild Template #}
{% extends '_layout' %}


{% block content %}
  <main id="bild">

    {% set painting = craft.francoisenussbaumerModule.painting(assetId) %}
    {% if painting: %}

    <bild :painting="{{ painting|json_encode }}"></bild>

      <p>

        {% set parameter = 'Ich interessiere mich für Bild Nr. '
          ~ painting.id
          ~ ', «'
          ~ painting.title
          ~ '».' %}

        <a href="mailto:mail@francoisenussbaumer.ch?subject={{ painting.title|url_encode }}&body={{ parameter|url_encode }}">Ich interessiere mich für dieses Bild</a>
      </p>

    {% else %}
      <p>Ein Bild mit dieser Id wurde nicht gefunden.</p>
    {% endif %}

  </main>

{% endblock %}
